<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.jtool.changetracker.PreferencePage"
            class="org.jtool.changetracker.recorder.OperationRecorderPreferencePage"
            id="org.jtool.changerecorder.PreferencePage"
            name="ChangeOperationRecorder">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.jtool.changetracker.recorder.OperationRecorderPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.jtool.macrorecorder.handlers">
      <handler
            class="org.jtool.changetracker.recorder.MacroReceiver"
            commandId="org.jtool.changetracker.recorder.MacroReceiver">
      </handler>
   </extension>
</plugin>
