<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.jtool.changetracker.repository.handlers" name="org.jtool.changetracker.repository.handlers" schema="schema/org.jtool.changetracker.repository.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.jtool.changetracker.core.CTPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jtool.changetracker.core.CTPreferencePage"
            id="org.jtool.changetracker.PreferencePage"
            name="ChangeTracker">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jtool.changetracker.ui.views.category"
            name="Change Tracker">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.jtool.changetracker.core.Activator">
      </startup>
   </extension>

</plugin>
