<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jtool.changetracker.replayer.ui.views.category"
            name="Change Replayer">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.jtool.changetracker.replayer.ui.views.category"
            class="org.jtool.changetracker.replayer.ui.ChangeExplorerView"
            icon="icons/cr.gif"
            id="org.jtool.changetracker.replayer.ui.ChangeExplorerView"
            name="Change Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.jtool.changetracker.replayer.ui.views.category"
            class="org.jtool.changetracker.replayer.ui.HistoryView"
            icon="icons/cr.gif"
            id="org.jtool.changetracker.replayer.ui.HistoryView"
            name="Change History"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.jtool.changetracker.replayer.ui.views.category"
            class="org.jtool.changetracker.replayer.ui.CodeComparingView"
            icon="icons/cr.gif"
            id="org.jtool.changetracker.replayer.ui.CodeComparingView"
            name="Comparing Changes"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.jtool.changetracker.replayer.ui.views.category"
            class="org.jtool.changetracker.replayer.ui.CodeAnimatingView"
            icon="icons/cr.gif"
            id="org.jtool.changetracker.replayer.ui.CodeAnimatingView"
            name="Animating Changes"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.jtool.changetracker.repository.handlers">
      <handler
            class="org.jtool.changetracker.replayer.OperationReplayer">
      </handler>
   </extension>
   
</plugin>
